@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

.MobileLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .mainPagesContent {
        position: relative;
        height: calc(100% - #{$navBarheight});
        width: 100%;
    }
}

.DesktopLayout {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 1rem 1rem 1rem;

    .grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        height: calc(100% - $logobarheight);
        width: 100%;
        max-width: 100%;

        .sectionContainer {
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 100%;
            overflow-y: auto;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            background-color: $background;
            border-radius: 1rem;
            padding: 0.5rem;
        }
    }
}

.Navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navBarheight;
    max-height: $navBarheight;
    width: 100vw;
    max-width: 100vw;
    padding: 0.5rem;

    .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        // background-color: white;
        // border-radius: 0.75rem;
        // box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
        padding: 0.5rem;

        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 33%;

            &.selected {
                .icon {
                    color: black;
                }

                .name {
                    color: black;
                }
            }

            .icon {
                transition: color 0.2s ease-in-out;
                height: $navBarheight * 0.3;
                max-height: $navBarheight * 0.3;
                min-height: $navBarheight * 0.3;
                width: $navBarheight * 0.3;
                max-width: $navBarheight * 0.3;
                min-width: $navBarheight * 0.3;
                color: rgb(200, 200, 200);
            }

            .name {
                color: rgb(200, 200, 200);
                margin-top: 0.2rem;
                font-size: 0.8rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}

.Logobar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $logobarheight;
    max-height: $logobarheight;
    width: 100vw;
    max-width: 100vw;

    .logo {
        height: $logobarheight * 0.6;
        max-height: $logobarheight * 0.6;
        min-height: $logobarheight * 0.6;
    }
}

.List {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    overflow-y: scroll;
}

.Home {
    position: relative;
    height: 100%;
    width: 100%;

    .cardContainer {
        position: relative;
        height: 85%;
        max-height: 85%;
        min-height: 85%;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .buttonsContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 15%;
        max-height: 15%;
        min-height: 15%;
        width: 100%;

        .no,
        .yes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: calc(100% - 1rem);
            max-height: calc(100% - 1rem);
            min-height: calc(100% - 1rem);
            width: calc(100% - 1rem);
            max-width: calc(100% - 1rem);
            min-width: calc(100% - 1rem);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
            margin: 0.5rem;
            border-radius: 0.75rem;
        }

        .icon {
            transition: color 0.2s ease-in-out;
            height: $navBarheight * 0.5;
            max-height: $navBarheight * 0.5;
            min-height: $navBarheight * 0.5;
            width: $navBarheight * 0.5;
            max-width: $navBarheight * 0.5;
            min-width: $navBarheight * 0.5;
        }

        .name {
            margin-top: 0.2rem;
            font-size: 0.8rem;
            font-weight: 500;
            text-align: center;
        }

        .yes {
            background-color: white;
            // background-color: rgb(234, 255, 235);

            .icon,
            .name {
                color: rgb(60, 134, 50);
            }
        }

        .no {
            background-color: white;
            // background-color: #ffe9e7;

            .icon,
            .name {
                color: #c1271e;
            }
        }
    }
}

.Filter {
    height: 100%;
    width: 100%;
    background-color: rgb(231, 246, 255);
}

.Card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 0.5rem);
    max-height: calc(100% - 0.5rem);
    min-height: calc(100% - 0.5rem);
    width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    min-width: calc(100% - 1rem);
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 0.75rem;
    touch-action: none;

    .pictureContainer {
        position: relative;
        pointer-events: none;
        height: 45%;
        min-height: 45%;
        max-height: 45%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .picture {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0.75rem;
        }
    }

    .info {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 55%;
        max-height: 55%;
        min-height: 55%;
        width: 100%;
        padding: 0 0.5rem;

        .groupRows {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin-top: 0.5rem;

            .row1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .brandLogo {
                    height: 2.5rem;
                    max-height: 2.5rem;
                    min-height: 2.5rem;
                }

                .name {
                    overflow: hidden;
                    margin-left: 0.5rem;
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .row2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .cc {
                    opacity: 0.5;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                }

                .km {
                    opacity: 0.5;
                    margin-left: 2rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
        .row3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .oldPrice {
                color: $motoColor;
                font-size: 1.1rem;
                font-weight: 500;
                text-align: center;
                text-decoration: line-through;
            }

            .price {
                margin-top: 0.2rem;
                font-size: 2.5rem;
                font-weight: 600;
                text-align: center;
            }
        }

        .row4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            width: 75%;
            margin-bottom: 0.5rem;

            .year {
                opacity: 0.4;
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
            }

            .licence {
                height: 2rem;
                max-height: 2rem;
                min-height: 2rem;
                opacity: 0.4;
            }

            .type {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0.4;

                .icon {
                    height: 2rem;
                    max-height: 2rem;
                    min-height: 2rem;
                }

                .name {
                    opacity: 0.9;
                    font-size: 0.85rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
}

.RandomizeTest {
    background-color: rgb(235, 125, 125);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .scrollableList {
        flex-grow: 1;
        width: 100%;
        overflow-y: scroll;
        .header {
            padding: 0 10;
        }
        .data {
            padding: 0 20;
        }
    }
    .randomizeButton {
        height: 20;
    }
}

.Item {
    transition: height 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: $listItemCollapsedHeight;
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    &.selected {
        height: $listItemHeight;

        .header {
            .image {
                border-bottom-right-radius: 0.75rem;
            }
        }
    }

    .header {
        position: relative;
        width: 100%;
        height: $listItemCollapsedHeight;
        min-height: $listItemCollapsedHeight;
        max-height: $listItemCollapsedHeight;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            transition: border-bottom-right-radius 0.2s ease-in-out;
            height: $listItemCollapsedHeight;
            min-height: $listItemCollapsedHeight;
            max-height: $listItemCollapsedHeight;
            width: 30%;
            min-width: 30%;
            max-width: 30%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 0.75rem;
            border-bottom-right-radius: 0rem;
        }

        .primaryInfo {
            height: $listItemCollapsedHeight;
            min-height: $listItemCollapsedHeight;
            max-height: $listItemCollapsedHeight;
            width: 60%;
            min-width: 60%;
            max-width: 60%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .nameContainer {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0.5rem;

                .brandLogo {
                    height: 2rem;
                    max-height: 2rem;
                    min-height: 2rem;
                }

                .name {
                    overflow: hidden;
                    margin-left: 0.5rem;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .prices {
                display: flex;
                align-items: baseline;
                width: 100%;
                padding: 0 0.5rem 0.5rem 0.5rem;

                .oldPrice {
                    color: $motoColor;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    text-decoration: line-through;
                }

                .price {
                    margin-left: 0.5rem;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }

        .cross {
            height: $listItemCollapsedHeight;
            min-height: $listItemCollapsedHeight;
            max-height: $listItemCollapsedHeight;
            width: 10%;
            min-width: 10%;
            max-width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3%;
            color: rgb(197, 197, 197);
        }
    }

    .footer {
        transition: opacity 0.4s ease-in-out;
        pointer-events: none;
        opacity: 0;
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        justify-content: space-between;

        &.selected {
            pointer-events: all;
            opacity: 1;
        }

        .row1 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .cc {
                opacity: 0.5;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
            }

            .km {
                opacity: 0.5;
                margin-left: 2rem;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
            }
        }

        .row2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            width: 75%;
            margin-bottom: 0.5rem;

            .year {
                opacity: 0.4;
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
            }

            .licence {
                height: 2rem;
                max-height: 2rem;
                min-height: 2rem;
                opacity: 0.4;
            }

            .type {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0.4;

                .icon {
                    height: 2rem;
                    max-height: 2rem;
                    min-height: 2rem;
                }

                .name {
                    opacity: 0.9;
                    font-size: 0.85rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }

        .buy {
            width: 50%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $motoColor;
            color: white;
            font-weight: 700;
            border-radius: 0.75rem;
            font-size: 1.1rem;
        }
    }
}
